<div class="bio">
<h3> Bio </h3>
<p> Richard Stallman launched the free software movement in 1983 and started the development of the GNU operating system (<a href="http://www.gnu.org">www.gnu.org</a>) in 1984. GNU is free software: everyone has the freedom to copy it and redistribute it, as well as to make changes either large or small. The GNU/Linux system, basically the GNU operating system with Linux added, is used on tens of millions of computers today.<p> 
<p> Stallman has received the <strong>ACM Grace Hopper Award</strong>, a <strong>MacArthur Foundation fellowship</strong>, the <strong>Electronic Frontier Foundation's Pioneer Award</strong>, and the <strong>Takeda Award for Social/Economic Betterment</strong>, as well as several honorary doctorates. </p>
</div>
