<h3> Bio </h3>
<p> Richard Stallman launched the free software movement in 1983 and started the development of the GNU operating system (<a href="http://www.gnu.org">www.gnu.org</a>) in 1984. GNU is free software: everyone has the freedom to copy it and redistribute it, as well as to make changes either large or small. The GNU/Linux system, basically the GNU operating system with Linux added, is used on tens of millions of computers today.<p> 
<p> Stallman has received the <strong>ACM Grace Hopper Award</strong>, a <strong>MacArthur Foundation fellowship</strong>, the <strong>Electronic Frontier Foundation's Pioneer Award</strong>, and the <strong>Takeda Award for Social/Economic Betterment</strong>, as well as several honorary doctorates. </p>
<h3> Frequently Asked Questions</h3><br />
<p> <strong>Are the talks open to everyone? </strong></p>
<p> Yes everyone is welcome to attend both talks. You are very strongly encouraged to invite others.</p>

<p> <strong>Do I need to have a background in Software to understand the talks?</strong></p>
<p> Whilst the content of the talks do have references to software, the audience does not need to have technical knowledge to appreciate thier content.</p>

<p> <strong>Do I have to register or pay for either of the events?</strong></p>
<p>They are both free of charge and you do not have to register for either of the events. Seating will be on a first come first served basis.</p>

<p> <strong> How do I get to the respective venues? </strong></p>
<p> <a href='/directions'>Click Here</a> for detailed directions.</p>

<p> <strong> Is there a mailing list I can join to learn about free software? </strong></p>
<p> <%= link_to 'Click Here', 'https://crm.fsf.org/civicrm/profile/create?gid=70&reset=1' %> to join the mailing list. </p>

<p> <strong> Will food be provided for the talks? </strong> </p>
<p> Food will not be provided for the talks. Attendees will have to make their own arrangements to have lunch/dinner.  </p>
