<br />
<h3> Organized with the support of</h3></br />
<%= image_tag 'nus_logo.svg', :width => '200' %><br /></br />
<%= image_tag 'fsf_logo.svg', :width => '200' %>
<h3> NUS school of computing </h3>
<h3> NUS universty scholars program </h3>
<h3> University Town</h3>

