
<p> Richard stallman is coming to NUS to talk about Free Software and the importance of freedom in the digital era.</p></br>
<br />
<h2> Talks </h2></br />
<h3> Free Software and Your Freedom</h3>
<h4>Tuesday, 13th March</h4></br>
<div class='row-fluid'>
  <table class='table'>
    <tr>
      <td> Venue </td>
      <td>
        <address>
          <strong>NUS School of Computing</strong><br>
          COM1 / 206<br>
          Computing Drive<br>
          Singapore 117417<br>
        </address>
      </td>
    </tr>
    <tr>
      <td>Time</td>
      <td> 2pm - 4.30pm </td>
    </tr>
    <tr>
      <td>Details</td>
      <td>Richard Stallman will speak about the goals and philosophy of the Free Software Movement, and the status and history of the GNU operating system, which in combination with the kernel Linux is now used by tens of millions of users world-wide.</td>
    </tr>
  </table>
</div>

<h3> A Free Digital Society</h3>
<h4>Wednesday, 14th March</h4>
<table class='table'>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>NUS University Town</strong><br>
        Town Plaza Auditorium<br>
      </address>
    </td>
  </tr>
  <tr>
    <td>Time</td>
    <td> 6pm - 8.30pm </td>
  </tr>
  <tr>
    <td>Details</td>
    <td>Activities directed at "including" more people in the use of digital technology are predicated on the assumption that such inclusion is invariably a good thing.  It appears so, when judged solely by immediate practical convenience.  However, if we also judge in terms of human rights, whether digital inclusion is good or bad depends on what kind of digital world we are to be included in.  If we wish to work towards digital inclusion as a goal, it behooves us to make sure it is the good kind.</td>
  </tr>
</table>
