    <p>Richard Stallman is coming to NUS to talk about Free Software and the importance of freedom in the digital era.</p>
<br />
<h2> Talks </h2></br />
<h3> Free Software and Your Freedom</h3>
<h4>Tuesday, 13th March, 2.00pm - 4.30pm</h4></br>
<div class='row-fluid'>
  <table class='table'>
    <tr>
      <td text-align='left' >Abstract</td>
      <td><p>The Free Software Movement campaigns for computer users' freedom to cooperate and control their own computing.  The Free Software Movement developed the GNU operating system, typically used together with the kernel Linux, specifically to make these freedoms possible.</p></td> 
    </tr>
    <tr>
      <td> Venue </td>
      <td>
        <address>
          <strong>NUS School of Computing </strong><a href="/directions">Directions</a></br />
          COM1 / 206<br />
          Computing Drive<br />
          Singapore 117417<br />
        </address>
      </td>
    </tr>
    <tr>
      <td> Chaired by </td>
      <td> <strong>Associate Professor Leong Tze Yun, </strong><br />Vice Dean, <br />External Relations, School of Computing, NUS</td>
    </tr>
  </table>
</div>

<h3> A Free Digital Society</h3>
<h4>Wednesday, 14th March, 6.00pm - 8.30pm</h4></br>
<table class='table'>
  <tr>
    <td>Abstract</td>
    <td><p>Activities directed at "including" more people in the use of digital technology are predicated on the assumption that such inclusion is invariably a good thing.  It appears so, when judged solely by immediate practical convenience.  However, if we also judge in terms of human rights, whether digital inclusion is good or bad depends on what kind of digital world we are to be included in.  If we wish to work towards digital inclusion as a goal, it behooves us to make sure it is the good kind.</p></td>
  </tr>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>NUS University Town </strong><a href="/directions#utown">Directions</a></br />
        Town Plaza Auditorium<br />
        1 CREATE Way, Level 1<br />
        Singapore 138602
      </address>
    </td>
  </tr>
  <tr>
    <td> Chaired by </td>
    <td> <strong>Professor Philip Holden, </strong><br />Deputy Director,<br /> University Scholars Programme, NUS</td>
  </tr>
</table>
