<h1> Directions to Venue</h1></br>

<h3> Free Software and Your Freedom</h3>
<h4>Tuesday, 13th March</h4></br>
<div class='row-fluid'>
  <table class='table' id='soc'>
    <tr>
      <td> Venue </td>
      <td>
        <address>
          <strong>NUS School of Computing</strong><br />
          COM1 / 206<br>
          Computing Drive<br>
          Singapore 117417<br>
        </address>
      </td>
    </tr>
    <tr>
      <td>Bus</td>
      <td><a href="http://gothere.sg/maps#q:nus%20school%20of%20computing"> gothere.sg</a> will get you the best directions to the School of Computing</td>
    </tr>
    <tr>
      <td>Driving</td>
      <td>
        <p>Parking is available at <strong>Carpark 11</strong> and <strong>Carpark 15</strong></p>
        <p> Cost of parking is as <a href="http://www.nus.edu.sg/oed/forms/PDFS/csd/transport/VisitorsParkingInformation.pdf"> follows </a></p>
      </td>
    </tr>
    <tr>
      <td> Train </td>
      <td>
        <ol> 
          <li> Take the MRT to <strong>Kent Ridge MRT</strong> (Circle Line)</li> 
          <li> Leave the MRT Station by the exit marked <strong>NUS/NUS (Exit A)</strong></li> 
          <li> After the exit you will reach a fork, <strong>turn right</strong> here</li>
          <li> Walk up the first ramp on your left to reach the <strong>Bus Stop 3</strong> </li>
          <li> Take Bus, <strong>A1</strong>, alight at the School Of Computing (Bus Frequency is 6 ~ 8 minutes)</li>
          <li> The ride should take approximavely 10 ~ 15 minutes </li>
          <li> Enter the School of Computing <strong>COM1</strong> </li>
          <li> Follow the signs to the talk </li>
        </ol>
      </td>
    </tr>
  </table>
</div>

<h3> A Free Digital Society</h3>
<h4>Wednesday, 14th March</h4><br />
<table class='table' id='utown'>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>NUS University Town</strong><br />
        Town Plaza Auditorium<br / >
        1 CREATE Way, Level 1<br />
        Singapore 138602
      </address>
    </td>
  </tr>
  <tr>
    <td>Bus</td>
    <td>
      <p>Internal Shuttles <strong>D1</strong> and <strong>D2</strong> are the only buses that reach utown.</p>
      <p>Once the bus crosses the bridge over the AYE you would have reached utown</p>
    </td>
  </tr>
  <tr>
    <td>Driving</td>
    <td>
      <p>Parking is available at <strong>Carpark 5</strong> </p>
      <p> Cost of parking is as <a href="http://www.nus.edu.sg/oed/forms/PDFS/csd/transport/VisitorsParkingInformation.pdf"> follows </a></p>
    </td>
  </tr>
  <tr>
    <td> Train </td>
    <td>
      <ol> 
        <li> Take the MRT to <strong>Kent Ridge MRT</strong> (Circle Line)</li> 
        <li> Leave the MRT Station by the exit marked <strong>NUS/NUS (Exit A)</strong></li> 
        <li> After the exit you will reach a fork, <strong>turn right</strong> here</li>
        <li> Walk up the first ramp on your left to reach the <strong>Bus Stop 3</strong> </li>
        <li> Take Bus, <strong>A1</strong>, two stops to the NUS Science Bus Stop, alight here (Bus Frequency is 6 ~ 8 minutes)</li>
        <li> Take Bus, <strong>D2</strong>, once the bus crosses the AYE Bridge, alight off the bus </li>
        <li>This stop is approximatly 8 bus stops away (Bus Frequency is 6 ~ 8 minutes)</li>
        <li> Follow the signs pointing to the venue from the bus stop </li>
      </ol>
    </td>
  </tr>
</table>
