<h1> Directions to Venue</h1></br>

<h3> Free Software and Your Freedom</h3>
<h4>Tuesday, 13th March</h4></br>
<div class='row-fluid'>
  <table class='table'>
    <tr>
      <td> Venue </td>
      <td>
        <address>
          <strong>NUS School of Computing</strong><br />
          COM1 / 206<br>
          Computing Drive<br>
          Singapore 117417<br>
        </address>
      </td>
    </tr>
    <tr>
      <td>Bus</td>
      <td></td>
    </tr>
    <tr>
      <td>Driving</td>
      <td></td>
    </tr>
    <tr>
      <td>Taxi</td>
      <td></td>
    </tr>
    <tr>
      <td> Train </td>
      <td>
        <ol> 
          <li> Take the MRT to Kent Ridge MRT (Circle Line)</li> 
          <li> Leave the MRT Station by the exit marked NUS/NUS (Exit A)</li> 
          <li> After the exit you will reach a fork, turn right here</li>
          <li> Walk up the first ramp on your left to reach the Bus Stop </li>
          <li> Take Bus, A1, alight at the School Of Computing (Bus Frequency is 6 ~ 8 minutes)</li>
          <li> The ride should take approximately 15 minutes </li>
          <li> Enter the School of Computing <strong>COM1</strong> </li>
          <li> Follow the signs to the talk </li>
        </ol>
      </td>
    </tr>
  </table>
</div>

<h3> A Free Digital Society</h3>
<h4>Wednesday, 14th March</h4><br />
<table class='table'>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>NUS University Town</strong><br />
        Town Plaza Auditorium<br / >
        1 CREATE Way, Level 1<br />
        Singapore 138602
      </address>
    </td>
  </tr>
  <tr>
    <td>Bus</td>
    <td></td>
  </tr>
  <tr>
    <td>Driving</td>
    <td></td>
  </tr>
  <tr>
    <td>Taxi</td>
    <td></td>
  </tr>
  <tr>
    <td> Train </td>
    <td>
      <ol> 
        <li> Take the MRT to <strong>Kent Ridge MRT</strong> (Circle Line)</li> 
        <li> Leave the MRT Station by the exit marked <strong>NUS/NUS (Exit A)</strong></li> 
        <li> After the exit you will reach a fork, <strong>turn right</strong> here</li>
        <li> Walk up the first ramp on your left to reach the Bus Stop </li>
        <li> Take Bus, <strong>A1</strong>, two stops to the NUS Science Bus Stop, alight here (Bus Frequency is 6 ~ 8 minutes)</li>
        <li> Take Bus, <strong>D2</strong>, once the bus crosses the AYE Bridge, alight off the bus </li>
        <li>This stop is approximatly 8 bus stops away (Bus Frequency is 6 ~ 8 minutes)</li>
        <li> Follow the signs pointing to the venue from the bus stop </li>
      </ol>
    </td>
  </tr>
  <tr> 
    <td> Map </td>
    <td>
    </td>
</table>
