<h1> Posters</h1><hr />
<div class='row-fluid'>
  <% @posters.each do |poster| %>
    <div class='span3'>
      <%= image_tag poster[:low] %>
    </div>
    <div class='span3'>
      <p>Download:</p>
      <%= link_to 'High Resolution', (image_path poster[:high]) %>
    </div>
  <% end %>
</div>
<hr />
