<h1> Resources </h1><hr />
<div class='row-fluid'>
  <div class='span6'>
    <%= image_tag 'a_free_digital_societey.jpg' %>
  </div>

  <div class='span6'>
    <%= image_tag 'free_software_and_your_digital_freedom.jpg' %>
  </div>

</div>

