<h1> Posters</h1><hr />
<% @posters.each do |poster| %>
  <div class='row-fluid'>
    <div class='span3'>
      <%= image_tag poster[:name] %>
    </div>
    <div class='span6'>
      <p>Download:</p>
      <%= link_to 'High Resolution', 'www.google.com' %>
    </div>
  </div>
  <hr />
<% end %>
