<div class='span12'>
  <h1> Richard Stallman </h1>
  <p> American software freedom activist and computer programmer will be visiting Singapore to give talks on free Software and Digital goods</p></br>
</div>

<div class='span12'>
  <h1> March 2012 </h1>
  <h3> Singapore </h3></br>
</div>

<div class='span12'>
  <h3>Tuesday, 13th March: Free Software and Your Freedom</h3>
  <p> ver since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
  <table class='table'>
    <tr>
      <td> Venue </td>
      <td>
        <address>
          <strong>NUS School of Computing</strong><br>
          COM1 / 206<br>
          Computing Drive<br>
          Singapore 117417<br>
        </address>
      </td>
    </tr>
    <tr>
      <td>Time</td>
      <td> 2pm - 4.30pm </td>
    </tr>
  </table>

  <h3>Tuesday, 13th March: A Free Digital Society</h3></th>
<table class='table'>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>NUS University Town</strong><br>
        Town Plaza Auditorium<br>
        Singapore 048737<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </td>
  </tr>
  <tr>
    <td>Time</td>
    <td> 8pm - 10 pm </td>
  </tr>
</table>
</div>
