<div class='row-fluid'>
  <div class='span7'>
    <h1> Richard Stallman </h1>
    <h3> in Singapore </h3>
  </div>
  <div class='span4'>
    <h2> 13-14 March 2012</h2>
  </div>
</div>
<div class='row-fluid'>
  <div class='span7'>
    <%= render :partial => 'talks' %>
  </div>
  <div class='span4'>
    <img src="http://stallman.org/image001.jpg" alt="Richard Stallman"  width="300" /><br />
    <h3> Frequently Asked Questions</h3><br />
    <p> <strong>Are the talks open to everyone? </strong></p>
    <p> Yes everyone is welcome to attend both talks. You are very strongly encouraged to invite others.</p>

    <p> <strong>Do I need to have a background in Software to understand the talks?</strong></p>
    <p> Whilst the content of the talks do have references to software, the audience does not need to have technical knowledge to appreciate thier content.</p>

    <p> <strong>Do I have to register or pay for either of the events?</strong></p>
    <p>They are both free of charge and you do not have to register for either of the events. Seating will be on a first come first served basis.</p>

    <%= render :partial => 'sponsors' %>
  </div>
</div>


