<div class='row-fluid'>
  <div class='span7'>
    <h1> Richard Stallman </h1>
    <h3> in Singapore </h3><br />
    <p>Richard stallman is coming to NUS to talk about Free Software and the importance of freedom in the digital era.</p>
  </div>
  <div class='span4'>
    <h2> 13-14 March 2012</h2>
  </div>
</div>
<div class='row-fluid'>
  <div class='span7'>
    <%= render :partial => 'talks' %>
  </div>
  <div class='span4'>
    <%= image_tag 'stallman.jpg', :width => '300' %>
    <%= render :partial => 'faq' %>
  </div>
</div>
<div class='row-fluid'>
  <div class='span12'>
    <%= render :partial => 'sponsors' %>
  </div>
</div>


