<h1> Richard Stallman </h1>
<p> American software freedom activist and computer programmer will be visiting Singapore to
give talks on free Software and Digital goods</p>


<h3>Tuesday, 13th March: A Free Digital Society</h3></th>
<table class='table'>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </td>
  </tr>
  <tr>
    <td>Time</td>
    <td> 8pm - 10 pm </td>
  </tr>
</table>
