<div class='row-fluid'>
  <div class='span7'>
    <h1> Richard Stallman </h1>
    <h3> in Singapore </h3>
  </div>
  <div class='span4'>
    <h2> 13-14 March 2012</h2>
  </div>
</div>
<div class='row-fluid'>
  <div class='span7'>
    <%= render :partial => 'talks' %>
  </div>
  <div class='span4'>
    <img src="http://stallman.org/image001.jpg" alt="Richard Stallman"  width="300" /><br />
    <p> American software freedom activist and computer programmer will be visiting Singapore to give talks on free Software and Digital goods</p></br>
    <h3> Frequently Asked Questions</h3><br />
    <p> <strong>Are the talks open to everyone? </strong></p>
    <p> Yes everyone is welcome to attend both talks</p>

    <p> <strong>Do I need to have a background in Software to understand the talks</strong></p>
    <p> Whilst the content of the talks do have references to software, the target audience of the talk does not need to have technical knowledge to appreciate Richards arguments</p>
  </div>
</div>

<%= render :partial => 'sponsors' %>

