<h1> Richard Stallman </h1>
<p> American software freedom activist and computer programmer will be visiting Singapore to
give talks on free Software and Digital goods</p></br>

<h1> March 2012 </h1>
<h3> Singapore </h3></br>

<h3>Tuesday, 13th March: A Free Digital Society</h3></th>
<p> ver since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with </p>
<table class='table'>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </td>
  </tr>
  <tr>
    <td>Time</td>
    <td> 8pm - 10 pm </td>
  </tr>
</table>

<h3>Tuesday, 13th March: A Free Digital Society</h3></th>
<table class='table'>
  <tr>
    <td> Venue </td>
    <td>
      <address>
        <strong>Twitter, Inc.</strong><br>
        795 Folsom Ave, Suite 600<br>
        San Francisco, CA 94107<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </td>
  </tr>
  <tr>
    <td>Time</td>
    <td> 8pm - 10 pm </td>
  </tr>
</table>
